@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
body{
    background-color: #000000
}



* {box-sizing:border-box}


.container {
  width: 100%; 
  background-color: #ddd; 
}
.profession{
   font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 45rem;
  display: flex;
  transform: 0.3s;
  width: 25rem;
  text-align: flex-start;
}
.profession p:hover{
    color:aquamarine;
}
.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 300px;
  width: 100%;
  background-color: #0ef;
  padding: 20px;
  text-align:  center;
  color: #fff;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bar {
  width: 20%;
  background-color: #008080;
  transition: height 0.5s ease-in-out;
  height: 50px;
}
.bar[data-value="50"] {
  height: 50%;
}

.bar[data-value="80"] {
  height: 80%;
}

.bar[data-value="30"] {
  height: 30%;
}

.bar[data-value="65"] {
  height: 65%;
}
.bar:hover {
  transform: translateY(-10px);
}
